
.App {
    text-align: center;
    font-family: 'sans-serif';
    /* background-color: #941389; */
    color: #f59a11;
  }
  
  /* .App-header {
    background-color: #f32155;
    padding: 20px;
    color: rgb(8, 17, 26);
  } */
  
  .App-header h1 {
    font-size: 2.5em;
    margin: 0;
  }
  
  .App-header p {
    font-size: 1.2em;
  }
  
  main {
    padding: 20px;
  }
  
  
  
  body {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190620/ourmid/pngtree-creative-headset-song-king-competition-poster-background-material-image_153272.jpg');
              background-size: cover;
              background-position: center;
  }
  
  /* footer {
    background-color: #282c34;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
  } */

  .star-rating {
    display: flex;
    direction: row;
  }
  
  .star-rating button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .star-rating .on .star {
    color: gold;
  }
  
  .star-rating .off .star {
    color: grey;
  }
  