.App {
    text-align: center;
    font-family: 'sans-serif';
    color: #f59a11;
}

.App-header h1 {
    font-size: 2.5em;
    margin: 0;
}

.App-header p {
    font-size: 1.2em;
}

main {
    padding: 20px;
}

.navigation-buttons {
    margin-top: 20px; /* Space above buttons */
}

.navigation-buttons a {
    margin-right: 15px; /* Space between buttons */
    text-decoration: none; /* Remove underline */
    color: blue; /* Change color if needed */
}

body {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190620/ourmid/pngtree-creative-headset-song-king-competition-poster-background-material-image_153272.jpg');
    background-size: cover;
    background-position: center;
}

.star-rating {
    display: flex;
    align-items: center; /* Align stars vertically in the center */
    margin-left: 10px; /* Space between title and stars */
}

.star-rating button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em; /* Increase star size */
}

.star-rating .on .star {
    color: gold;
}

.star-rating .off .star {
    color: black;
}

.music-item {
    display: flex;
    justify-content: space-between; /* Adjusts space between items */
    align-items: center; /* Centers items vertically */
    margin: 10px 0; /* Adds some space between items */
}

.music-info {
    display: flex;
    align-items: center; /* Centers items vertically */
}

.song-title {
    margin-right: 10px; /* Space between the title and stars */
    font-size: 1.5em; /* Adjust font size as needed */
}
